.lamborghinigrid{
    background-color: cadetblue;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
}

.bugattigrid{
    background-color: rgb(62, 23, 180);
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content:  flex-end;
}

.ferrarigrid{
    background-color: rgb(122, 41, 41);
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content:  flex-start;
    justify-content:  center;
    
}

.audir8grid{
    background-color: rgb(220, 235, 19);
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content:  flex-start;
}